<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.collection_select :client_id, Client.all, :id, :fullname, :prompt=>"Select one" %>
  </div>
  
  <div class="invoce-items">
    <table border="1" cellspacing="5" cellpadding="5">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
      <%= f.fields_for(:items) do |builder|%>
        <%= render :partial=> "item_fields", :locals=>{:f=>builder} %>
      <% end %>
    </table>
    <%= link_to_add_fields "Add new one", f, :items %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
