<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Age</th>
    <th>Is active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.lastname %></td>
    <td><%= client.email %></td>
    <td><%= client.age %></td>
    <td><%= client.is_active %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
