<!DOCTYPE html>
<html>
<head>
  <title>J360</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user.nil? %>
    <%= link_to "Registrarse", new_user_path %> |
	  <%= link_to "Iniciar Sesion", login_path %> |
  <% else %>
    <%=link_to "Clients", clients_path%> | 
	  <%=link_to "Products", products_path%> | 
	  <%=link_to "Invoices", invoices_path%> |
	  <%=link_to "NEW Invoice", new_invoice_path%> |
	  <%= link_to "Cerrar sesion", logout_path, :method=>:delete %> |
  <% end %>
</div>
<hr/>
<%= flash[:notice] %>
<%= yield %>

</body>
</html>
