<!DOCTYPE html>
<html>
<head>
  <title>J360</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
	<% if !user_signin? %>
	  <%= link_to "Registrarse", new_user_path %> |
	  <%= link_to "Iniciar Session", signin_path %> |
	  <%= link_to "Olvide mi contraseña", recovery_password_path %>
	<% else %>
	  <%=link_to "Clients", clients_path%> | 
	  <%=link_to "Products", products_path%> | 
	  <%=link_to "Invoices", invoices_path%> |
	  <%=link_to "NEW Invoice", new_invoice_path%> |
	  <%= link_to "Cerrar session", signout_path, :method=>:delete  %>
	<% end %>
</div>
<hr/>

<%= yield %>

</body>
</html>
